@model E_Healthcare.Models.Appointment

<h2>Appointment Details</h2>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Phone Number: @Model.PhoneNumber</h4>
    <h4>Personal Details: @Model.PersonalDetails</h4>
    <h4>Medical History: @Model.MedicalHistory</h4>
    <h4>Insurance Information: @Model.InsuranceInformation</h4>
    <h4>Appointment Date: @Model.AppointmentDate.ToShortDateString()</h4>
    <h4>Appointment Time: @Model.AppointmentTime.ToString(@"hh\:mm\:ss")</h4>

</div>
<p>
    
    <a class="btn btn-info"  asp-action="Index">Back to List</a>
</p>
