@model List<E_Healthcare.Models.Appointment>

<h2>Appointment List</h2>
<a class="btn btn-success" asp-action="Create">Create New</a>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Personal Details</th>
            <th>Medical History</th>
            <th>Insurance Information</th>
            <th>Appointment Date and Time</th>
            <th>Doctor</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Name</td>
                <td>@appointment.PhoneNumber</td>
                <td>@appointment.PersonalDetails</td>
                <td>@appointment.MedicalHistory</td>
                <td>@appointment.InsuranceInformation</td>
                <td>@appointment.AppointmentDateTime</td>
                <td>@(appointment.Doctor != null ? appointment.Doctor.Name : "N/A")</td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@appointment.Id">Details</a> |
                    <a class ="btn btn-info" asp-action="Edit" asp-route-id="@appointment.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@appointment.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
