@model IEnumerable<E_Healthcare.Models.Doctor>
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-danger text-center">Health Care</h1>
<form  id="searchForm" asp-controller="Home" asp-action="Index" method="get" class="my-4">
    <div class="row">
        <div class="col-md-8">
            <input id="searchInput" type="text" name="search" class="form-control" placeholder="Search by doctor name" value="@ViewBag.Search" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var doctor in Model)
    {
        <div class="col-lg-3 col-md-3">
            <div class="row p-2">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header bg-info">
                          Doctor Information
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Name: @doctor.Name</h5>
                            <p class="card-text">Specialties: @doctor.Specialties</p>
                            <p class="card-text"> Qualifications: @doctor.Qualifications</p>
                            <p class="card-text">Fee: @doctor.ConsultationFee</p>
                            <div class="ratings">
                                @if (doctor.Specialties == "SkinCare")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Chiropractor")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "ENT")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Neurology")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Psychiatry")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Cardiology")
                                {
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Urologist")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else if (doctor.Specialties == "Ortholopedics")
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                                else
                                {
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                }
                            </div>
                            <a asp-action="DoctorDetails" class="btn btn-primary" asp-route-id="@doctor.Id">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (ViewBag.CurrentPage > 1)
{
    <a asp-action="Index" class="btn btn-primary" asp-route-page="@(ViewBag.CurrentPage - 1)">Previous</a>
}

@if (ViewBag.CurrentPage < ViewBag.TotalPages)
{
    <a asp-action="Index" class="btn btn-primary" asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
}

@section Scripts {
    <script>
        $('#searchInput').on('input', function () {
            var searchValue = $(this).val();
            if (searchValue.length >= 3) {
                $.ajax({
                    url: '/Customer/Home/Search',
                    method: 'GET',
                    data: { search: searchValue },
                    success: function (data) {
                        $('.row').html(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}
